* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #f7f7f7 !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.wrapper {
    padding-top: 121px;
    padding-bottom: 64px;
}

.request-grid {
    margin-top: 64px;
}

.life-gambo {
    padding: 59px 0;
}

.default-title {
    text-align: center;
    padding-bottom: 8px;
}

.default-title h2 {
    font-size: 24px;
    color: #2b2f4c;
    font-weight: 700;
    margin-bottom: 13px;
}

.default-title p {
    line-height: 24px;
    font-weight: 400;
    color: #3e3f5e;
    font-size: 14px;
    margin-bottom: 15px;
}

.request-products {
    margin-top: 30px;
}

.rqst-btn {
    width: 100%;
}

.next-btn16 {
    height: 40px;
    line-height: 38px;
    padding: 0px 30px;
    border: 1px solid #f55d2c;
    background: #f55d2c;
    color: #fff;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline-block;
}

.mt-30 {
    margin-top: 30px;
}

.how-order-gambo {
    padding: 0 0 14px;
}

.how-order-steps {
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    background: #fff;
    height: 203px;
    border-radius: 10px;
}

.how-order-steps h4 {
    color: #2b2f4c;
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 21px;
}

.how-order-icon i {
    width: 70px;
    height: 70px;
    display: inline-block;
    background: #f55d2c;
    color: #fff;
    font-size: 30px;
    border-radius: 100%;
    padding: 14px 0;
    text-align: center;
}
.bootstrap-tagsinput {
    border: 1px solid #efefef !important;
    box-shadow: none !important;
    width: 100%;
    height: auto;
    text-align: left;
}
.bootstrap-tagsinput input {
    padding: 7px 10px !important;
    font-weight: 500;
    border-radius: 5px;
}
input[type=text] {
    color: #2b2f4c !important;
}
.hover-btn:hover {
    background: #f55d2c;
    color: #fff !important;
    transition: all .2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
}
button, input, optgroup, select, textarea {
    font-family: 'roboto', sans-serif !important;
}
input {
    outline: none;
}
@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}