/*--- Header ---*/

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0.052083333in 11.25pt -9px rgb(0 0 0 / 10%);
}

.top-header-group {
    width: 100%;
    display: block;
}

.top-header {
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
}

.main_logo {
    width: 125px;
    margin-left: 10px;
}

.blog_logo {
    padding: 0px;
}

.logo-inverse {
    display: none;
}

.navbar-toggler-icon {
    background-image: none !important;
}

.select-location {
    margin-left: 30px;
}

.select-location .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 150px !important;
}

.search120 {
    margin-left: 55px;
}

.s-icon {
    position: absolute;
    text-align: center;
    right: 3px;
    top: 3px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 1px 0;
    font-size: 18px;
    background: transparent;
    border-radius: 4px;
    color: #8f91ac;
}

.gambo-head {
    height: 60px;
}

.main_logo img {
    width: 100%;
    padding-top: 0;
}

.res_main_logo {
    display: none;
    width: 45px;
}

.res_main_logo img {
    width: 100%;
    padding-top: 3px;
}

.srch10 {
    background: #f7f7f7 !important;
    border: 0 !important;
    color: #2b2f4c !important;
    height: 36px;
    padding: 10px 40px 10px 15px;
    width: 550px;
    border-radius: 5px;
}

i.icon1 {
    font-size: 16px !important;
    position: absolute;
    top: 6px;
    left: 10px;
}

.swdh10 {
    font-size: 14px !important;
    width: 100%;
}

.ui[class*="left icon"].swdh10.input>input {
    padding-left: 3.2em !important;
    padding-right: 1em !important;
    font-size: 14px;
    font-weight: 500;
    border: 0 !important;
}

.ui.search .prompt {
    border-radius: .3rem !important;
    width: 100%;
}

.header_right {
    margin-left: auto;
    padding-right: 15px;
}

.header_right ul li {
    display: inline-block;
    vertical-align: middle;
}

.option_links {
    padding: 10px 9px;
    font-size: 20px;
    color: #91699c;
    position: relative;
}

.option_links i {
    font-size: 18px;
}

.option_links .icon_wishlist {
    background: rgba(246, 151, 51, 0.2);
    color: #f69733;
    height: 35px;
    width: 35px;
    display: inline-block;
    padding: 6px 5px;
    border-radius: 100%;
}

.option_links .icon_noti {
    background: rgba(2, 114, 54, 0.2);
    color: #027236;
    height: 35px;
    width: 35px;
    display: inline-block;
    padding: 10px 5px;
    border-radius: 100%;
}

.option_links:hover,
.option_links:focus {
    color: #2b2f4c !important;
}

.dropdown_account_rl {
    width: 250px;
}

.noti_count {
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    right: 8px;
    background: #027236;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 1.5;
    border-radius: 100%;
    font-weight: 500;
}

.noti_count1 {
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    right: 8px;
    background: #f69733;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 1.5;
    border-radius: 100%;
}

.opts_account {
    font-weight: 500;
    color: #2b2f4c;
    float: right;
    padding: 5px 5px 5px 10px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-left: 17px;
}

.opts_account img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin-left: 0;
}

.opts_account .user__name {
    margin-left: 10px;
    font-size: 13px;
}

.opts_account:hover {
    color: #f55d2c !important;
}

.channel_item {
    display: block;
    font-size: 14px;
    width: 100%;
    color: #2b2f4c;
    padding: 10px 20px;
}

.channel_item:hover {
    color: #f55d2c !important;
    background-color: #f7f7f7;
}

.channel_item:focus {
    color: #f55d2c !important;
    background-color: transparent;
}

.icon__1 {
    font-size: 18px;
    margin-right: 10px;
}

.left_title {
    padding: 20px 17px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #afafaf;
    text-align: left;
    margin-bottom: 0;
}

.user_img img {
    width: 30px;
    border-radius: 100%;
    margin-left: 17px;
    margin-right: 15px;
}

.dropdown-menu-account {
    margin-top: 7px !important;
}

.menu.dropdown_account_rl {
    min-width: 220px !important;
}

.rl-account-step p {
    font-size: 13px;
    font-weight: 400;
}

.rl-account {
    text-align: center;
    padding: 15px;
}

.rl-account-step {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef;
}

.rl-account-step:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.lr-acount-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #f55d2c;
}

.menu.dropdown_mn {
    width: 300px;
    margin-top: 12px !important;
    border-top: 1px solid #fff !important;
    border-radius: 3px !important;
    min-width: 300px !important;
}

.menu.dropdown_ms {
    width: 300px;
    margin-top: 12px !important;
    border-top: 1px solid #fff !important;
    border-radius: 3px !important;
    min-width: 300px !important;
}

.channel_my {
    padding: 15px !important;
    border-bottom: 1px solid #efefef !important;
    min-width: 100%;
    max-width: 100%;
    white-space: normal;
}

.channel_my:last-child {
    border-bottom: 0 !important;
}

.profile_link {
    display: flex;
}

.profile_link img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.pd_content {
    width: 80%;
    white-space: normal;
}

.pd_content h6 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #2b2f4c;
    text-align: left;
    position: relative;
}

.pd_content span {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
    color: #686f7a;
    text-align: left;
}

.dp_link_12 {
    font-size: 14px;
    font-weight: 500;
    color: #2b2f4c;
    margin-top: 15px;
    display: block;
    text-align: left;
}

.dp_link_12:hover {
    color: #ed2a26 !important;
}

.ui.dropdown .menu>.channel_item {
    color: #2b2f4c !important;
    padding: .78571429rem 1.14285714rem !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.ui.dropdown .menu>.channel_item:hover {
    color: #2b2f4c !important;
    background: #ffecec !important;
}

.rhte85 {
    display: flex;
}

.mef78 i {
    font-size: 18px;
    line-height: 15px;
    color: #1da1f2;
}

.pd_content p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #91699c;
    text-align: left;
    margin-top: 8px;
    line-height: 20px;
}

.pd_content span.nm_time {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    color: #afafaf;
    text-align: left;
}

.vbm_btn {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #f55d2c;
    font-size: 14px;
    color: #fff !important;
    font-weight: 500;
}

.ui.input>input {
    font-family: 'Roboto', sans-serif !important;
}

.select_location {
    margin-left: 34px;
}

.ui.inline.dropdown.loc-title>.text {
    font-weight: 500 !important;
    color: #2b2f4c;
    font-size: 14px;
}

.menu.dropdown_loc {
    width: 170px;
    margin-top: 20px !important;
    border-top: 1px solid #fff !important;
    border-radius: 3px !important;
    min-width: 170px !important;
}

.offer-link {
    font-size: 14px;
    font-weight: 400;
    margin-right: 18px;
    color: #2b2f4c;
    margin-left: 6px;
}

.offer-link:hover {
    color: #f55d2c !important;
}

.offer-link i {
    font-size: 16px;
    margin-right: 3px;
}

.sub-header-group {
    width: 100%;
    display: block;
    border-top: 1px solid #efefef;
}

.sub-header {
    width: 100%;
    display: block;
    align-items: center;
}

.nav-link {
    color: #2b2f4c !important;
}

.offcanvas-help-links {
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 20px 20px !important;
    margin: 15px 0 27px !important;
}

.offcanvas-help-links li {
    line-height: 38px;
}

.offcanvas-help-links li .offer-link {
    font-size: 1.1em;
    font-weight: 500;
}

.offcanvas-copyright {
    margin-bottom: 20px;
}

.main_nav .nav-link {
    display: block;
    padding: 10px 15px !important;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}

.nav-link.active {
    color: #f55d2c !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #f55d2c !important;
}

.header_cart {}

.cart__btn {
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    background: #f55d2c;
    padding: 22px 30px;
    text-align: center;
}

.cart__btn span {
    margin: 0 2px;
}

.hover-btn:hover {
    background: #f55d2c;
    color: #fff !important;
    transition: all .2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
}

.cart__btn ins {
    color: #fff !important;
    margin-left: 5px;
    text-decoration: none !important;
}

.category_drop {
    padding: 20px 30px 19px;
    font-size: 14px;
    color: #2b2f4c;
    position: relative;
    font-weight: 500;
    margin-right: 10px;
    border-right: 1px solid #efefef;
}

.category_drop i {
    margin-right: 10px;
}

.offcanvas-header {
    border-bottom: 1px solid #efefef;
    background: #ffffff;
}

.offcanvas-logo img {
    width: 50px;
}

.category_drop_canvas {
    height: 50px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    background: #f55d2c;
    position: relative;
    font-weight: 500;
    margin-right: 0;
    border-radius: 5px;
    border: none;
}

.category_drop_canvas i {
    margin-right: 10px;
}

.canvas_search {
    background: #f7f7f7 !important;
    border: 0 !important;
    color: #2b2f4c !important;
    height: 50px;
    padding: 10px 40px 10px 15px;
    width: 100%;
    border-radius: 5px;
}

.canvas-icon {
    position: absolute;
    text-align: center;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #f55d2c;
    border-radius: 5px;
}

.close-btn {
    padding: 5px;
    font-size: 20px;
    background: #f7f7f7;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: 0;
}

.close-btn:hover {
    background: #f7f7f7;
    color: #2b2f4c;
}

.navbar-toggler {
    padding: 7px 0 !important;
    font-size: 26px !important;
    background: #f7f7f7 !important;
    color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 5px !important;
    width: 40px;
    height: 40px;
    border: 0 !important;
    margin-left: 13px;
    text-align: center;
    box-shadow: none !important;
}

.navbar-toggler:hover {
    background: #f7f7f7;
    color: #2b2f4c;
}

.dropdown-menu {
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #f1f1f1 !important;
    box-shadow: 0 8px 11px 2px rgb(64 70 74 / 2%) !important;
}

.dropdown-submenu {
    width: 230px;
    margin-top: 12px !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #f1f1f1 !important;
    box-shadow: 0 8px 11px 2px rgb(64 70 74 / 2%) !important;
}

.dropdown-submenu .dropdown-item {
    display: block;
    font-size: 14px;
    width: 100%;
    color: #2b2f4c;
    padding: 10px 20px;
}

.dropdown-submenu .dropdown-item:hover {
    color: #f69733 !important;
    background-color: #f7f7f7;
    /* background-color: #808080; */
}

.dropdown-submenu .dropdown-item:focus {
    color: #f7f7f7 !important;
    background-color: transparent;
}

.menu_toggle_btn {
    padding: 5px !important;
    line-height: 1;
    border: 0 !important;
    border-radius: 5px !important;
    font-size: 26px !important;
    background: #f9f9f9 !important;
    color: #2b2f4c !important;
}

.mt1-5 {
    margin-top: 124px !important;
    text-align: center;
}

.bmt1-5 {
    margin-top: 60px !important;
    text-align: center;
}

.bg-dark1 {
    background-color: #fff !important;
    z-index: 999;
}

.navbar-nav {
    margin-left: 50px;
}

a {
    text-decoration: none !important;
}

@media (max-width: 575.98px) {
    .search120 {
        display: none;
        margin-left: 0 !important;
    }

    .header_right ul li:first-child {
        display: none;
    }

    .opts_account .user__name {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .search120 {
        display: none;
        margin-left: 0 !important;
    }

    .header_right ul li:first-child {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
.search120 {
    display: none;
    margin-left: 0 !important;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .search120 {
        display: none;
        margin-left: 0 !important;
    }

    .opts_account .user__name {
        display: none;
    }
}