* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif !important;
}

.section145 {
    padding: 65px 0 0;
    width: 100%;
    display: block;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 10.5px;
    padding-left: 10.5px;
    margin-right: auto;
    margin-left: auto;
}

.main-title-tt {
    margin-bottom: 27px;
    display: flex;
    align-items: flex-end;
}

.main-title-left {
    margin-right: auto;
}

.main-title-left span {
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    color: #fff;
    background: #f55d2c;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 27px;
    padding: 0 10px;
    border-radius: 5px;
}

.main-title-left h2 {
    font-size: 24px;
    font-weight: 600;
    color: #2b2f4c;
    margin-top: 0;
    display: block;
}

.see-more-btn {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #2b2f4c;
    text-align: right;
}

.see-more-btn:hover {
    color: #f55d2c !important;
}

.category-item {
    width: 100%;
    display: block;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.cate-img {
    width: 50px;
    text-align: center;
    display: inline-block;
}

.cate-img img {
    display: inline-block;
}

.category-item h4 {
    font-size: 14px;
    font-weight: 500;
    color: #2b2f4c;
    margin-top: 15px;
    text-align: center;
}

.cate-slider .owl-nav {
    margin-top: 0 !important;
}

.cate-slider .owl-nav .owl-prev {
    left: -20px;
    font-size: 20px !important;
    position: absolute;
    top: 35%;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    padding: 0 !important;
    color: #2b2f4c !important;
    background: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.cate-slider .owl-nav .owl-next {
    font-size: 20px !important;
    position: absolute;
    right: -20px;
    top: 35%;
    padding: 0 !important;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    color: #2b2f4c !important;
    background: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.cate-slider .owl-nav .owl-prev:hover {
    color: #fff !important;
    opacity: 1;
    background: #f55d2c !important;
    border: 1px solid #f55d2c !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.cate-slider .owl-nav .owl-next:hover {
    color: #fff !important;
    opacity: 1;
    border: 1px solid #f55d2c !important;
    background: #f55d2c !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

span.like-icon {
    color: #f69733;
    font-size: 18px;
    position: absolute;
    z-index: 101;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: rgba(246, 151, 51, 0.2);
    display: block;
    height: 35px;
    width: 35px;
    line-height: 37px;
    border-radius: 30px;
    transition: all 0.4s;
}

.like-icon:before,
.like-icon:after {
    transition: opacity 0.3s, transform 0.4s cubic-bezier(.0, -.41, .19, 2.5);
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 0px;
}

.like-icon:before {
    content: "\f004";
    transform: scale(0.95);
}

.like-icon:after {
    content: "\f004";
    opacity: 0;
    transform: scale(0.3);
    font-weight: 900;
}

.like-icon.liked:after {
    opacity: 1;
    transform: scale(0.95);
}

.like-icon:hover,
.like-icon.liked {
    background-color: #f69733;
    color: #fff;
}

.like-icon.liked:before {
    opacity: 0;
}

.product-item {
    width: 100%;
    display: block;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 1px 2px 0 #e9e9e9;
}

.product-img {
    width: 100%;
    position: relative;
    padding: 10px 20px;
    display: block;
}

.product-img img {
    width: 100%;
    transition: transform .5s ease;
}

.product-item:hover img {
    transform: scale(1.1);
}

.offer-badge-1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #f55d2c;
    padding: 3px 10px;
    border-radius: 5px;
    line-height: 20px;
    text-transform: uppercase
}

.product-text-dt p {
    font-size: 12px;
    font-weight: 500;
    color: #8f91ac;
    margin-bottom: 0;
    line-height: 24px;
}

.product-text-dt p span {
    margin-left: 5px;
}

.product-text-dt h4 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px !important;
    line-height: 24px;
    text-align: center;
    color: #2b2f4c;
}

.product-price {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #f55d2c;
    text-align: center;
}

.product-price span {
    color: #c7c7c7;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 600;
}

.qty-cart {
    display: flex;
    align-items: center;
    margin-top: 17px;
}

.cart-icon {
    margin-left: auto;
    font-size: 20px;
    color: #c7c7c7;
    cursor: pointer;
}

.cart-icon:hover {
    color: #f55d2c;
}

.featured-slider .owl-nav .owl-prev {
    left: -20px;
    font-size: 20px !important;
    position: absolute;
    top: 42%;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    padding: 0 !important;
    color: #2b2f4c !important;
    background: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.featured-slider .owl-nav .owl-next {
    font-size: 20px !important;
    position: absolute;
    right: -20px;
    top: 42%;
    padding: 0 !important;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    color: #2b2f4c !important;
    background: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.featured-slider .owl-nav .owl-prev:hover {
    color: #fff !important;
    opacity: 1;
    background: #f55d2c !important;
    border: 1px solid #f55d2c !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.featured-slider .owl-nav .owl-next:hover {
    color: #fff !important;
    opacity: 1;
    border: 1px solid #f55d2c !important;
    background: #f55d2c !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.best-offer-item {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    position: relative;
}

.best-offer-item img {
    width: 100%;
    border-radius: 10px;
}

.offer-counter-text {
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
}

.cmtk_dt {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.code-offer-item img {
    width: 100%;
    border-radius: 10px;
}

/* -- quantity box -- */

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 35px;
    height: 30px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 0;
    margin-left: -4px;
    margin-right: -4px;
    background: #fff;
    font-size: 12px;
    font-weight: 500;
}

.quantity .input-text.qty.white-bg-input {
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 6px 10px 5px;
    height: 30px;
    background-color: #2b2f4c;
    border: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    width: 30px;
}

.quantity.buttons_added .minus-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.quantity.buttons_added .plus-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #f55d2c;
    color: #fff !important;
    transition: all .2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}


.cart-item-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #f55d2c;
    text-align: right;
    display: inline-flex;
    margin-left: auto;
}

.cart-item-price span {
    color: #c7c7c7;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 600;
}

.wishlist-item {
    display: flex;
}

.wishlist-product-img {
    width: 70px;
    position: relative;
}

.wishlist-product-img img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #efefef;
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}