* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --- Footer --- */

.footer {
    background: #2b2f4c;
}

.footer-first-row {
    padding: 20px 0;
	border-bottom: 1px solid #3f4464;
}

.call-email-alt {
    float: left;
    width: 100%;
	padding-top: 4px;
}

.call-email-alt li {
    display: inline-block;
    margin-right: 20px;
}

.call-email-alt li:last-child {
    margin-right: 0;
}

.callemail {
    font-size: 14px;
    font-weight: 500;
    color: #a2d5c6;
    display: flex;
    align-items: center;
}

.callemail:hover {
    font-size: 14px;
    font-weight: 500;
    color: #fff !important;
}

.callemail i {
    margin-right: 5px;
    color: #f55d2c;
    font-size: 18px;
}

.social-links-footer {
    text-align: right;
    float: left;
    width: 100%;
}

.social-links-footer h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 17px;
}

.social-links-footer ul {
    float: left;
    margin-top: 5px;
	width: 100%;
}

.social-links-footer ul li {
    display: inline-block;
    padding-right: 7px;
}

.social-links-footer ul li:last-child {
    padding-right: 0;
}

.social-links-footer ul li a {
    color: #a2d5c6;
    width: 36px;
    height: 36px;
    background: #3f4464;
    border-radius: 50%;
    padding: 9px 0;
    text-align: center;
    font-size: 14px;
    position: relative;
    display: inline-block;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.social-links-footer ul li:hover a {
    bottom: 5px;
	color: #fff !important;
}

.footer-second-row {
    padding-bottom: 50px;
	border-bottom: 1px solid #3f4464;
}

.second-row-item {
    margin-top: 47px;
}

.second-row-item h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 17px;
}

.second-row-item ul li {
    display: block;
    padding-bottom: 9px;
}

.second-row-item ul li:last-child {
    padding-bottom: 0;
}

.second-row-item ul li a {
    color: #a2d5c6;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
	position: relative;
	left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.second-row-item ul li a:hover {
    color: #fff !important;
	left: 5px;
}

.second-row-item-2 {
    margin-top: 86px;
}

.second-row-item-app {
    margin-top: 47px;
}

.second-row-item-app h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 17px;
}

.second-row-item-app ul li {
    display: inline-block;
    padding-right: 0;
}

.second-row-item-app ul li:last-child {
    padding-right: 0;
}

img.download-btn {
    width: 120px;
}

.footer-last-row {
	padding: 30px 0;
	background: #2b2f4c;
	text-align: center; 
}

.footer-bottom-group {
    display: flex;
    width: 100%;
    align-items: center;
}

.footer-bottom-links ul li {
    display: inline-block;
    padding: 0 10px;
}

.footer-bottom-links li a {
    color: #a2d5c6;
	font-size: 13px;
    font-weight: 500;
    text-align: left;
	line-height: 24px;
	position: relative;
	bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer-bottom-links ul li:hover a {
    bottom: 2px;
	color: #fff !important;
}

.copyright-text {
    color: #a2d5c6;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
	margin-left: auto;
    letter-spacing: 0.3px;
}

.financial-institutes {
    display: inline-block;
    list-style: none;
    line-height: 0;
}

.financial-institutes__logo {
    display: inline-block;
    margin: 0 1px 5px 0;
}

.financial-institutes__logo img {
    width: 35px;
    height: auto;
}

.second-row-item-payment {
    margin-top: 37px;
}

.second-row-item-payment h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 17px;
}

.newsletter-input {
	position: relative;
}

.newsletter-btn {
     background: #f55d2c;
    position: absolute;
    right: 3px;
    top: 2px;
    height: 35px;
    border: 0;
    width: 35px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
}

.newsletter-input .form-control {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #a2d5c6 !important;
    border: 1px solid #3f4464;
    position: relative;
    padding: 0 3rem 0 1rem;
    height: 40px;
    border-radius: 5px !important;
    background: #1d2035;
}

.newsletter-input .form-control:focus {
    border: 1px solid #f55d2c !important;
    border-radius: 5px !important;
    background: #1d2035 !important;
}

