
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #f7f7f7 !important;
    line-height: 21px;
    font-size: 14px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

a {
    cursor: pointer !important;
    text-decoration: none !important;
}

.hover-btn:hover {
    background: #f55d2c;
    color: #fff !important;
    transition: all .2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
}



/* --- Sign In --- */

.sign-inup {
    padding: 80px 0;
}

.sign-form {
    display: block;
    width: 100%;
}

.sign-img {
    background: #4576b4;
    padding: 50px;
    border-radius: 5px 0 0 5px;
}

.sign-img img {
    width: 100%;
}

.sign-inner {
    padding: 0;
}

.sign-logo {
    width: 100%;
	text-align: center;
}

.sign-logo img {
    width: 150px;
}
.logo-inverse {
    display: none;
}
ul {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}
.form-dt {
    margin-top: 50px;
    border: 1px solid #efefef;
	position: relative;
	border-radius: 10px;
	background: #fff;
}

.form-inpts {
	padding: 38px 30px 0;
}

.form-title {
    text-align: center;
	margin-bottom: 37px;
}

.form-title h6 {
	font-weight: 700;
	color: #2b2f4c;
	font-size: 18px;
}

.lgn_input {
    padding: 0 1rem 0 3rem !important;
    height: 50px !important;
}

.pos_rel {
	position: relative;
}

.lgn_icon {
    position: absolute;
    top: 12px;
    left: 2%;
    font-size: 18px;
    color: #2b2f4c;
}

.form-control:focus+.lgn_icon  {
	color: #f55d2c;
}

.login-btn {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    border: 0;
    color: #fff;
    background: #f55d2c;
    border-radius: 5px;
    text-align: center;
}

.signup-link {
	margin-top: 30px;
	border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 1.5rem;
	background: #f55d2c;
	transition: all .2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
	background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
}

.signup-link p {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0;
}

.signup-link p a {
    color: #fff;
    font-size: 12px;
    background: #2b2f4c;
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
}

.signup-link p a:hover {
    color: #fff !important;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.sign-inup .copyright-text {
    color: #2b2f4c;
}

.password-forgor {
	text-align: center;
}

.password-forgor a {
    display: block;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #2b2f4c;
}

.password-forgor a:hover {
    color: #f55d2c !important;
}


.code-alrt-inputs li {
	display: inline-block;
	vertical-align: middle;
}

.code-alrt-inputs input {
	text-align: center;
}

ul.code-alrt-inputs input {
    width: 40px;
    border: 1px solid #efefef;
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

ul.code-alrt-inputs input:focus {
    box-shadow: none;
	border: 1px solid #f55d2c;
}

label.control-label {
    font-size: 13px;
    font-weight: 500;
    color: #2b2f4c;
}

.chck-btn {
    height: 40px;
    display: inline-block;
    background: #f55d2c;
    color: #fff !important;
    padding: 0px 15px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 40px;
}

.resend-link {
    margin-top: 10px;
    display: block;
    font-weight: 500;
    color: #2b2f4c;
    text-align: left;
}

.resend-link:hover {
    color: #f55d2c;
}

.copyright-text {
    color: #a2d5c6;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
	margin-left: auto;
    letter-spacing: 0.3px;
}
